/*for phone*/

*{
	box-sizing: border-box;
}
.kkk{
        width:75px;
        height:75px;
        float:right;
        position: 0;
        margin: 10px;
        
}
nav{
	background-image: linear-gradient(#989494,white);
	margin:0;
	padding: 0;
	border:1px solid black;
}
nav ul{
	list-style-type: none;
	margin:0;
}
nav li{
	display:inline-block;
	margin:0px;
	padding: 10px 20px;
	
}
nav li:hover{
	background-color:yellow;
}
li a{

	text-decoration: none;

}
